@import url(https://fonts.googleapis.com/css?family=Roboto:400,100|Titillium+Web:900);

body {
  background-color: #fff;
  padding: 20px;
}

#myQuiz {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 650px;
  height: 650px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

#myQuiz::after {
  content: "";
  background: url(/images/background.png) no-repeat center center;
  background-size: contain;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; 
}

#myQuiz h1 {
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 25px;
}

#myQuiz h1 span {
  display: block;
  font-weight: 900;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.2em;
  line-height: 65px;
}

#myQuiz h2 {
  font-size: 3em;
  margin: 0;
  font-weight: 100;
}

#myQuiz h3 {
  font-size: 2.4m;
  margin: 0;
  font-weight: 100;
}

#myQuiz p {
  margin: 0 0 14px 0;
}

#myQuiz .btn {
  display: inline-block;
  cursor: pointer;
  background-color: #c04b01;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;
}

/* Intro */
#myQuiz .intro {
  position: absolute;
  top: 160px;
  left: 660px;
  width: 550px;
}

#myQuiz .intro p {
  margin: 0 0 40px 0;
}

#myQuiz .intro .btn {
  margin-top: 160px;
  padding: 10px 20px;
}

/* Questions */

#myQuiz .question {
  width: 550px;
  position: absolute;
  top: 225px;
  left: 40px;
}