<!DOCTYPE html>
<html ng-app="quiz">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AngularJS Quiz</title>
  <link rel="stylesheet" type="text/css" href="css/quiz.css"/>
</head>
<body>
  <div id="myQuiz" ng-controller="QuizCtrl">
    <h1>Test Your Knowledge: <span>AngularJS</span></h1>
    <div class="progress">
      <div ng-class="{
        on: $index === activeQuestion,
        answered: questions[$index].questionState === 'answered',
        correct: questions[$index].correctness === 'correct',
        incorrect: questions[$index].correctness === 'incorrect'}"
        ng-repeat="question in questions">
      </div>
    </div>
    <div class="intro" ng-class="{inactive: activeQuestion > -1, active: activeQuestion < 0}">
      <h2>Welcome</h2>
      <p>Click begin to test you knowledge</p>
      <p class="btn" ng-click="activeQuestion = 0">Begin</p>
    </div>
    <div class="question" ng-class="{
      inactive: activeQuestion !== $index,
      active: activeQuestion === $index,
      answered: question.questionState === 'answered'}"
      ng-repeat="question in questions">
      <p class="txt">{{question.question}}</p>
      <p class="ans"
        ng-class="{
          image: answer.image, 
          selected: isSelected($parent.$index, $index), correct: isCorrect($parent.$index, $index)}"
        ng-style="{'background-image': 'url({{answer.image}})'}"
        ng-click="selectAnswer($parent.$index, $index)"
        ng-repeat="answer in question.answers">
        {{answer.text}}
      </p>
      <div class="feedback">
        <p ng-show="question.correctness === 'correct'">You are <strong>correct</strong></p>
        <p ng-show="question.correctness === 'incorrect'">Oops! That is not correct.</p>
        <p>{{question.additionalFeedback}}</p>
        <div class="btn" ng-click="continue()">Continue</div>
      </div>
    </div>
    <div class="results" ng-class="{active: totalQuestions === activeQuestion, inactive: totalQuestions > activeQuestion}">
      <h3>Results</h3>
      <p>You scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions.</p>
      <p>Use the links below to challenge your friends.</p>
      <div class="share" ng-bind-html="createShareLinks(percentage)"></div>
    </div>
  </div>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="quiz.js"></script>
</body>
</html>